<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- スタイルシートを読み込む -->
    <!-- stylesheet_link_tagというメソッドを呼び出している。引数は、"application"と、{"data-turbo-track": "reload"} -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!-- ナビゲーション等ヘッダー要素 -->
    <%= render 'layouts/header' %>

    <!-- ページごとの内容 -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
