<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <!-- ナビゲーション等ヘッダー要素 -->
    <%= render 'layouts/header' %>

    <!-- ページごとの内容 -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- 開発環境では、デバッグ用の情報を表示する -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
